# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# IDE
.idea/
.vscode/
*.swp

# Platform
**/ios/Pods/
**/ios/.symlinks/
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# Firebase (generated locally)
google-services.json
GoogleService-Info.plist
firebase.json
.firebaserc

# OS
.DS_Store
Thumbs.db

# Scripts
scripts/node_modules/
